body {
  margin:0px;
  background-color:rgba(255, 243, 239, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:51px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:426px;
  width:213px;
  height:47px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:440px;
  width:192px;
  height:18px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#40C0E7;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:178px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:101px;
  width:179px;
  height:174px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:248px;
  width:225px;
  height:35px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:32px;
  color:#40C0E7;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:318px;
  width:375px;
  height:170px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:30px;
}
.u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:30px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
.u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u125_img.mouseOver {
}
.u125.mouseOver {
}
.u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:30px;
}
#u124-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:368px;
  height:30px;
}
#u124-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:368px;
  height:30px;
}
#u124-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:368px;
  height:30px;
}
#u124-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:368px;
  height:30px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:323px;
  width:368px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:0px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 108, 48, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u127 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:288px;
  width:548px;
  height:30px;
  display:flex;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u127.selected {
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:291px;
  width:336px;
  height:25px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_img.hint {
}
#u128.hint {
}
#u128_img.disabled {
}
#u128.disabled {
}
#u128_img.hint.disabled {
}
#u128.hint.disabled {
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:290px;
  width:25px;
  height:25px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130 {
  position:absolute;
  left:540px;
  top:193px;
}
#u130_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:123px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:34px;
  width:139px;
  height:119px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:132px;
  width:166px;
  height:24px;
  display:flex;
  font-family:"Raleway Bold Oblique", "Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:25px;
  color:#40C0E7;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:214px;
  width:1px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u137_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u137_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u137_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:191px;
  width:166px;
  height:25px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_img.hint {
}
#u137.hint {
}
#u137_img.disabled {
}
#u137.disabled {
}
#u137_img.hint.disabled {
}
#u137.hint.disabled {
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 243, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 192, 231, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:241px;
  width:170px;
  height:44px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:15px;
  width:23px;
  height:23px;
  display:flex;
  color:#ED6940;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1910px;
  height:27px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:829px;
  width:1910px;
  height:27px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141 {
  position:fixed;
  left:-255px;
  top:-14px;
}
#u141_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1929px;
  height:64px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1914px;
  height:68px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:1910px;
  height:64px;
  display:flex;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:17px;
  width:140px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:17px;
  width:51px;
  height:45px;
  display:flex;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(64, 192, 231, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u149 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:292px;
  width:96px;
  height:22px;
  display:flex;
}
#u149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 105, 64, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u152 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:509px;
  width:225px;
  height:244px;
  display:flex;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:158px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:574px;
  width:171px;
  height:154px;
  display:flex;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:528px;
  width:97px;
  height:31px;
  display:flex;
  color:#40C0E7;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_img.mouseOver {
}
#u154.mouseOver {
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 105, 64, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u157 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:511px;
  width:225px;
  height:244px;
  display:flex;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:158px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:576px;
  width:171px;
  height:154px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:530px;
  width:97px;
  height:31px;
  display:flex;
  color:#40C0E7;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u159_img.mouseOver {
}
#u159.mouseOver {
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 105, 64, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u162 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:514px;
  width:225px;
  height:244px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:158px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:579px;
  width:171px;
  height:154px;
  display:flex;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:533px;
  width:97px;
  height:31px;
  display:flex;
  color:#40C0E7;
}
#u164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u164_img.mouseOver {
}
#u164.mouseOver {
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 105, 64, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.34901960784313724);
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:516px;
  width:225px;
  height:244px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:158px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:581px;
  width:171px;
  height:154px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:35px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:535px;
  width:97px;
  height:31px;
  display:flex;
  color:#40C0E7;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_img.mouseOver {
}
#u169.mouseOver {
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
